*{
margin: 0;
padding: 0;
 font-family: 'Poppins', sans-serif;
 /* position: absolute; */
}

body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/denim.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
background-size: cover;
}
.movie{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: absolute;
        display: flex;
        width: 100%;
        padding-bottom: 20px;
     
}
a{
    color: rgb(243, 238, 238);  
    margin-top:25px ;
    font-family: 'Poppins', sans-serif;
 text-decoration: none;
}
.movie>h1{
    /* border: 1px solid red; */
    cursor: pointer;
}
.movie>div{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
 
}
#signupme{
    /* border: 1px solid red; */
    display: flex;
    width: 140px;
    padding-left: 20px;
    height: 40px;
    background-color: crimson;
    color: rgb(243, 238, 238);
    margin-top: 20px;
    border: none;
    border-radius: 5px;
padding-top: 10px;
}
#logout{
    /* border: 1px solid red; */
    display: flex;
    width: 80px;
    height: 40px;  
    background-color: crimson;
    color: rgb(243, 238, 238);
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;

}
.movie>span{

        width: 100%;
        color: rgb(233, 231, 231);
        text-align: center;
        margin-top: 20px;
    
    }
.movie>h1{
font-family: Cursive;
    width: 100%;
    color: rgb(233, 231, 231);
    text-align: center;
    margin-top: 20px;

}
.para>p{
    /* border: 1px solid red; */
    font-family: Cursive;
        width: 40%;
margin-left: 850px;
        color: rgb(233, 231, 231);
        text-align: center;
        margin-top: 200px;
    
    }




.imglist{
    /* border: 1px solid red; */
    width: 300px;
    display: flex;
    margin-top: -130px;
    padding-left: 50px;
    padding-right: 450px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 50px;
    background-color: rgb(89, 87, 87);
}
.imglist>div{
    /* border: 1px solid red; */
    width: 200px;
  
}


.imglist>div>img{

  border: 2px solid goldenrod;
   width: 90px; 
}

#discription>h3{
    color: white;
    width: 300px;
    text-align: center;
}
#discription>h4{
    color: white;
    font-size: 30px;
    width: 390px;
    text-align: center;
}
#discription>p{
    /* border: 1px solid red; */
    color: white;
    width: 350px;
    text-align: center;
}







@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");





.wrapper {
    /* border: 1px solid rgb(10, 206, 43); */
    margin-bottom: 40px;
  max-width: 1600px;
  width: 100%;

}


.wrapper i:first-child {
  left: -22px;

}

.wrapper i:last-child {
  right: 0px;
}

.wrapper i:active {
    /* border: 1px solid red; */
  transform: translateY(-50%) scale(0.85);
}

.wrapper .carousel {
    /* border: 1px solid red; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.wrapper .carousel .card {
  scroll-snap-align: start;
  height: 342px;
  background-color: rgb(89, 87, 87);
  border-radius: 8px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .carousel.dragging .card {
    /* border: 1px solid red; */
  user-select: none;
  cursor: grab;
}

.wrapper .carousel .card .img {
    /* border: 1px solid red; */
  height: 238px;
  width: 158px;
  background-color: rgb(89, 87, 87);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  align-items: center;
  justify-content: center;
}

.wrapper .carousel .card .img img {
    /* border: 1px solid red; */
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 150px;
  object-fit: cover;

  border: 4px solid #fff;

}

.wrapper .carousel .card h2 {
    font-size: 15px;
  margin-top:  5px;
}

.wrapper .carousel .card span {
  color: #2e2e2f;
  font-size: 15px;
}


@media (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
