*{
    
  /* border: 1px solid red;       */
  font-family: "Poppins", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    /* border: 1px solid rgba(255, 0, 0, 0.294); */
    background-color: rgb(34, 34, 34);
    color: rgb(233, 231, 231);
}

header {
    margin-top: -1px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgb(89, 87, 87);
  color: rgb(54, 52, 52);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header>h1{
  font-family: Cursive;
font-size: 20px;
      width: 60%;
      color: rgb(233, 231, 231);
      text-align: center;
      margin-top: -10px;
  
  }
  #create_playlsit{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background:crimson;
    color: white;
  }
#login-button{
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    background:crimson;
    color: white;

}
#signup-button{
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 80px;
    background:crimson;
    color: white
    
}



#popupForm {
  display: none; 
  position: fixed;
  top: 40%;
  left: 50%;
  right: 23%;
  /* width: -280%; */
  border-radius: 5px;
  transform: translate(-50%, -50%);
  background-color: rgb(158, 155, 155);
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.popup{
  /* border: 1px solid red; */
  padding-top: 80px;
  /* width: 60%; */
  padding-bottom: 30px;
  /* padding-left: -25px; */
  /* padding-right: -25px; */
}
.popup>h1{
  /* border: 1px solid red; */
  margin-top: -0px;
  color: rgb(224, 221, 221);
  margin-top: 5px;
  font-size: 20px;

}
.popup>input{
  /* border: 1px solid red; */
  border-radius: 4px;
  width: 60%;
  height: 30px;
  margin-top: 8px;
  border: none;
margin-left: 80px;


}
.popup>button{
  /* border: 1px solid red; */
  margin-top: 12px;
  padding: 7px;
  background: crimson;
  color:white;
  border-radius: 5px;
border: none;
margin-left: 130px;
/* justify-content: center; */


}




.user-profile {
    /* border: 1px solid red; */
  display: flex;
  align-items: center;
}

main {
    /* border: 1px solid red; */
  padding: 20px;
}
#search-input{
    width: 450px;
    margin-top: -17px;
    height: 17px;
    background-color:rgb(211, 208, 208);
    /* border: 1px solid blueviolet; */
    border: none;
}
#input{
    margin-top: 10px;
    /* border: 1px solid red;   */
    width: 500px;
    height: 33px;
    background-color:rgb(211, 208, 208);
    padding: 10px;
    border-radius: 50px;

}
#searchbtn{
  margin-top: 9px;
  padding: 10px;
  background: crimson;
  color:white;
  border-radius: 5px;
border: none;
margin-left: 10px;

}

.movie-search, .playlist {
    /* border: 1px solid rgb(49, 13, 166); */
    width: 700px;
 
    display: flex;
    margin-right: 150px;
  margin-bottom: 20px;

}
.container{
    /* border: 1px solid red; */
 margin-bottom: 40px;
    width: 100%;
    margin-top: 70px;

}
.footer{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
li{
    list-style-type: none;
    margin-top: 10px;
  color: white
}

/* .bottom{

} */




@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");



/* body {
  min-height: 100vh;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left top, #031a9a, #8b53ff);
} */

.wrapper {
    /* border: 1px solid rgb(10, 206, 43); */
    margin-bottom: 40px;
  max-width: 1600px;
  width: 100%;
  /* margin-bottom: 20px; */
  /* position: relative; */
}

.wrapper i {
    /* border: 1px solid rgb(9, 168, 112); */
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 1.23rem;
  height: 50px;
  width: 50px;
  /* margin-left: 50px; */
  background: #c1bebe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 50%;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  transition: 0.3s ease;
}

.wrapper i:first-child {
  left: -22px;
  /* margin-top: -140px; */
  /* border: 1px solid red; */
}

.wrapper i:last-child {
  right: 0px;
}

.wrapper i:active {
    /* border: 1px solid red; */
  transform: translateY(-50%) scale(0.85);
}

.wrapper .carousel {
    /* border: 1px solid red; */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  border-radius: 8px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.wrapper .carousel.no-transition {
  scroll-behavior: auto;
}

.wrapper .carousel::-webkit-scrollbar {
  display: none;
}

.wrapper .carousel.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}

.wrapper .carousel .card {
  scroll-snap-align: start;
  height: 342px;
  background-color: rgb(89, 87, 87);
  border-radius: 8px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper .carousel.dragging .card {
    /* border: 1px solid red; */
  user-select: none;
  cursor: grab;
}

.wrapper .carousel .card .img {
    /* border: 1px solid red; */
  height: 238px;
  width: 158px;
  background-color: rgb(89, 87, 87);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border-radius: 50%; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.wrapper .carousel .card .img img {
    /* border: 1px solid red; */
    height: 230px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 150px;
  object-fit: cover;
  /* border-radius: 50%; */
  border: 4px solid #fff;
/* position: absolute; */
}

.wrapper .carousel .card h2 {
    font-size: 15px;
  margin-top:  5px;
}

.wrapper .carousel .card span {
  color: #2e2e2f;
  font-size: 15px;
}


@media (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}




.top>div{
    width:80%;
    display: grid;
   margin: auto;
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
    /* border: 5px solid brown; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap:10px;
   
    
  }
  .top>div>div{
      /* border: 3px solid blue; */
      border-radius: 20px;
      margin:auto;
      /* background-color: rgb(249, 249, 249); */
      background-color: rgb(89, 87, 87);
      text-align: center;
      color: rgb(9, 9, 9);
      width:100%;
      padding-bottom: 20px;
      
    }
    .top>div>div>button{
      color:white;
      background-color: crimson;
      border: none;
      padding: 10px;
      border-radius: 5px;
    }
    .top>div>div>h6{
      border: 1px solid red;
      color:white;
      padding: 10px;
  
    }
    .top>div>div>p{
      border: 1px solid red;
      color:white;
       padding: 10px;
    
    }
    .top img{
  
      padding: 30px;
      width:40%
    }




#movie{

  margin-top: 60px;
  /* border: 2px solid saddlebrown; */
  box-shadow: rgba(91, 88, 88, 0.24) 0px 3px 8px;
  padding-top: 20px;
  padding-bottom: 20px;

  width:100%;
  /* margin-left: 70px;
 margin-right: 70px; */
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap:10px;
  justify-content: center;

}
#movie>div{
  /* border: 2px solid  salmon; */
  background-color: rgb(89, 87, 87);
  border-radius: 5px;
  width:180px;
  box-shadow: rgba(91, 88, 88, 0.24) 0px 3px 8px;
  padding: 10px;

  
}
#movie>div>img{
  height:200px;
  border: 2px solid saddlebrown;
  width:150px;


}
#movie>div>button{
 display: block;
 margin: auto;
 background-color: rgb(47, 23, 205);
 margin-top: 2px;
 color: antiquewhite;
 padding: 5px;
 border: none;
 border-radius: 3px;

}
h1{
  margin-top: 200px;
  text-align: center;
}
#paginationcont{
  /* border: 1px solid red; */
  width: 1300px;
  margin-left: 120px;
  margin-top: 30px;
}
#paginationcont>button{
  border: 1px solid rgb(3, 190, 16);
}
